@import "tailwindcss";

@font-face {
  font-family: "Lucide";
  src: url("./assets/LucidaGrande.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lucide";
  src: url("./assets/LucidaGrandeBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lucide";
  src: url("./assets/Lucida Grande Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lucide", system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  font-size: 3.2em;
  line-height: 1.1;
}

dialog {
  margin: auto;
}

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .hide-desktop {
    display: none !important;
  }
}
